@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

:root {
  --containerMargin: 8px 16px 32px;
  --containerPadding: 8px 16px 32px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container {
  margin: var(--containerMarginn);
  padding: var(--containerPadding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.infoContainer {
  font-size: 0.875rem;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container div img:hover {
  box-shadow: 10px 12px 45px 1px rgba(140, 133, 140, 0.71);
}

.infoContainer span:nth-child(2) {
  font-weight: bold;
}

.container div img {
  border-radius: 3%;
}

.navbar {
  position: sticky;
  width: 62.5rem;
  font-size: 1rem;
  padding: var(--containerPadding);
  margin: var(--containerMargin);
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: #212429 2px solid;
  gap: 1rem;
}

.navbar a {
  color: #212429;
  text-decoration: none;
}

.footerbar {
  width: 62.5rem;
  padding: var(--containerPadding);
  margin: var(--containerMargin);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #212429;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footerbar span {
  color: #ffffff;
  text-decoration: none;
}

.footerbar span img {
  color: #ffffff;
  text-decoration: none;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
